{% extends "base.html" %}

{% block content %}
{% if current_project == None %}
<div class="alert alert-danger" role="alert">
    Выберите проект
</div>
{% else %}
<div class="container">

    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
            <a href="#manager_estimate_plan_tab" class="nav-link active" data-bs-toggle="tab">Бюджетная смета</a>
        </li>
        <li class="nav-item">
            <a href="#client_estimate_plan_tab" class="nav-link" data-bs-toggle="tab">Смета заказчика</a>
        </li>
        <li class="nav-item">
            <a href="#project_company_tab" class="nav-link" data-bs-toggle="tab">Реквизиты</a>
        </li>
        <li class="nav-item">
            <a href="#project_manager_tab" class="nav-link" data-bs-toggle="tab">Менеджер</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="manager_estimate_plan_tab">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название услуги</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Наценка</th>
                    <th scope="col">Итоговая стоимость</th>
                </tr>
                </thead>
                <tbody>
                {% for service in current_project.services %}
                <tr>
                    <th scope="row">{{ service.id }}</th>
                    <td>{{ service.name }}</td>
                    <th>{{ service.group }}</th>
                    <td>{{ service.price }}р</td>
                    <td>{{ service.get_margin_percent_str() }}</td>
                    <td>{{ service.get_margin_price() }}р</td>
                </tr>
                {% endfor %}
                </tbody>


            </table>
            <form class="form-group m-2" method="post" action="/project/service/add">
                <div class="row">
                    <div class="col">
                        <select class="js-chosen" name="service_id" required>
                            <option value=""></option>
                            {% for service in services %}
                            <option value="{{service.id}}">{{service.name}}, {{service.price}}р</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-sm btn-outline-success form-control form-group">+ Добавить
                            услугу
                        </button>
                    </div>
                </div>
            </form>
            <div class="alert alert-success" role="alert">
                Итоговая стоимость {{current_project.get_services_price_sum()}}р
            </div>
            <a href="/report/manager" class="btn btn-outline-dark form-control">Распечатать смету</a>
        </div>
        <div class="tab-pane fade" id="client_estimate_plan_tab">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название услуги</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for service in current_project.services %}
                <tr>
                    <th scope="row">{{ service.id }}</th>
                    <td>{{ service.name }}</td>
                    <td>{{ service.get_margin_price() }}р</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="alert alert-success" role="alert">
                Итоговая стоимость {{current_project.get_services_price_sum()}}р
            </div>
            <a href="/report/client" class="btn btn-outline-dark form-control">Распечатать смету</a>
        </div>
        <div class="tab-pane fade" id="project_company_tab">
            <form action="/company/save" method="post" class="form-group border shadow mt-2 p-2">
                {% if current_project.company %}
                <input type="text" name="name" value="{{current_project.company.name}}" placeholder="Название"
                       class="mb-2 form-control w-100" required>
                <input type="text" name="index" value="{{current_project.company.index}}" placeholder="Индекс"
                       class="mb-2 form-control w-100" required>
                <input type="text" name="city" value="{{current_project.company.city}}" placeholder="Город"
                       class="mb-2 form-control w-100" required>
                <input type="text" name="address" value="{{current_project.company.address}}" placeholder="Адрес"
                       class="mb-2 form-control w-100" required>
                <input type="tel" name="phone" value="{{current_project.company.phone}}" placeholder="Телефон"
                       class="mb-2 form-control w-100" required>
                <input type="url" name="site" value="{{current_project.company.site}}" placeholder="Сайт"
                       class="mb-2 form-control w-100" required>
                <input type="text" name="okpo" value="{{current_project.company.okpo}}" placeholder="ОКПО"
                       class="mb-2 form-control w-100" required>
                <input type="text" name="okdp" value="{{current_project.company.okdp}}" placeholder="ОКДП"
                       class="mb-2 form-control w-100" required>
                <button type="submit" class="mb-2 form-control w-100 btn btn-outline-dark">Обновить</button>
                {% else %}
                <input type="text" name="name" placeholder="Название" class="mb-2 form-control w-100" required>
                <input type="text" name="index" placeholder="Индекс" class="mb-2 form-control w-100" required>
                <input type="text" name="city" placeholder="Город" class="mb-2 form-control w-100" required>
                <input type="text" name="address" placeholder="Адрес" class="mb-2 form-control w-100" required>
                <input type="tel" name="phone" placeholder="Телефон" class="mb-2 form-control w-100" required>
                <input type="url" name="site" placeholder="Сайт" class="mb-2 form-control w-100" required>
                <input type="text" name="okpo" placeholder="ОКПО" class="mb-2 form-control w-100" required>
                <input type="text" name="okdp" placeholder="ОКДП" class="mb-2 form-control w-100" required>
                <button type="submit" class="mb-2 form-control w-100 btn btn-outline-dark">Сохранить</button>
                {% endif %}
            </form>
        </div>
        <div class="tab-pane fade" id="project_manager_tab">
            <form action="/manager/save" method="post" class="form-group border shadow mt-2 p-2">
                {% if current_project.manager %}
                <input type="text" name="name" value="{{current_project.manager.name}}" placeholder="Имя"
                       class="mb-2 form-control w-100" required>
                <button type="submit" class="mb-2 form-control w-100 btn btn-outline-dark">Обновить</button>
                {% else %}
                <input type="text" name="name" placeholder="Имя" class="mb-2 form-control w-100" required>
                <button type="submit" class="mb-2 form-control w-100 btn btn-outline-dark">Сохранить</button>
                {% endif %}
            </form>
        </div>
    </div>

</div>
{% endif %}


<script>
$(document).ready(function(){
	$('.js-chosen').chosen({
		width: '100%',
		no_results_text: 'Совпадений не найдено',
		placeholder_text_single: 'Выберите услугу'
	});
});




</script>
{% endblock %}